# Compiler files
cache/
out/

# Ignores development broadcast logs
# !/broadcast
# /broadcast/*/31337/
# /broadcast/**/dry-run/

# Remove broadcast logs
/broadcast/

# Docs
docs/

# Dotenv file
.env

# yarn error
yarn-error.log

# osx
.DS_Store

# npm
node_modules/

# coverage info
lcov.info

# package files
dist/

.env
.env.*
!.env.example

package/wagmiGenerated.ts
package/chainConfigs.ts

# not currently using pnpm
pnpm-lock.yaml
