name: "Contracts"

on: "push"

jobs:
  contracts-comments:
    name: Comments
    uses: ./.github/workflows/contract.yml
    secrets: inherit
    with:
      package_folder: packages/comments
      name: Comments
      ignore_coverage_files: '"*lib*" "*mock*"'
      skip_storage_layout: true

  contracts-coins:
    name: Coins
    uses: ./.github/workflows/contract.yml
    secrets: inherit
    with:
      package_folder: packages/coins
      name: Coins
      skip_storage_layout: true
      ignore_coverage_files: '"*test*" "*src/utils/uniswap/*" "*src/libs/CoinLegacy.sol" "*src/deployment/CoinsDeployerBase.sol"'
      coverage_args: "--ir-minimum"

  contracts-coins-deployments:
    name: Coins Deployments
    uses: ./.github/workflows/contract.yml
    secrets: inherit
    with:
      package_folder: packages/coins-deployments
      name: Coins Deployments
      skip_storage_layout: true
      skip_abi_stability: true
      skip_coverage: true
      skip_contract_sizes: true
      skip_tests: true

  contracts-limit-orders:
    name: Limit Orders
    uses: ./.github/workflows/contract.yml
    secrets: inherit
    with:
      package_folder: packages/limit-orders
      name: Limit Orders
      skip_storage_layout: true
      ignore_coverage_files: '"*test*" "*src/utils/uniswap/*"'
      coverage_args: "--ir-minimum"

  contracts-incentive:
    name: Incentive
    uses: ./.github/workflows/contract.yml
    secrets: inherit
    with:
      package_folder: packages/incentive-contracts
      name: Incentive
      ignore_coverage_files: '"*test*" "*script*"'
      skip_storage_layout: true
      skip_abi_stability: true
