name: Lint
on: [pull_request]

jobs:
  inspect-storage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install node deps and founry
        uses: ./.github/actions/setup_deps

      - name: Run prettier
        run: yarn run prettier:check
